<!-- <div class="btn btn-secondary btn-lg btn-block" aria-label="Basic example">

  <button type="button" class="btn btn-success" (click) = "ocultarCapa('seccionado-2019-4zs11r')">ocultar</button>
  <button type="button" class="btn btn-danger"  (click) = "mostrarCapa('seccionado-2019-4zs11r')">mostrar</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
</div> -->
<!-- <div class="btn btn-secondary btn-lg btn-block" aria-label="Basic example">
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" [ngClass]="calculateClasses()" (click)="mostrarOcultarCapa('seccionado-2019-4zs11r')">Mostrar/Ocultar Layer 1</button>

<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
</div> -->

<!-- botones que aparecen en el mapa -->
<div class="btn-group-vertical" aria-label="Basic example" *ngFor="let capa of capas; let i = index">
  <!-- <button type="button" [ngClass]="calculateClasses(capa.idcapa)" -->
  <button type="button"
    (click)="mostrarOcultarCapa(capa.idcapa)">{{capa.nombrecapa}}</button>
</div>

<div id="mapa2"></div>

<!-- Descripciones de los botones del mapa -->
  <div class="text-info" aria-label="Basic example" *ngFor="let capa of capas; let i = index">
    <div>{{capa.nombrecapa}}: {{capa.descripcioncapa}}</div>
  </div>


